@tailwind base;
@tailwind components;
@tailwind utilities;

.content-section {
    padding: 0.6rem 1.2rem;
    border: 1px solid #918b8b;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    width: 90%;
}